.prices-section {
    margin-top: 50px;

    .subheading-container {
        margin-left: 25px;
    }

    .image {
        margin-bottom: 25px;
        width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        position: relative;

        .main-img {
            margin-top: 50px;
            width: 70%;
        }

        .ellipse {
            position: absolute;
        }

        .one {
            transform: scale(.5);
            left: -100px;
            top: -100px;
        }

        .two {
            transform: scale(.5);
            right: -30px;
            bottom: -30px;
        }
    }
}


@media (min-width: 800px) {
    .prices-section {
        .subheading-container {
            margin-left: 20%;
        }

        .content-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .content {
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .image {
                    overflow: visible;
                    .one{
                        left: 20px;
                        top: -50px;
                    }
                    .two{
                        right: 20px;
                    }
                }

                .info {
                    p {
                        max-width: 400px;
                    }
                }
            }
        }
    }
}