.app{
    
}

.info{
    font-family: 'Poppins';
    color: #6E7A95;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p{
        width: 80%;
    }
}